<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674828250035-qhj99qkcpk05pooftfggvul9nnth082c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674828250035-qhj99qkcpk05pooftfggvul9nnth082c</string>
	<key>API_KEY</key>
	<string>AIzaSyDFsMUejYEkNaJzZAZiWZTewBcBxHIItvo</string>
	<key>GCM_SENDER_ID</key>
	<string>674828250035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taci.ownotes</string>
	<key>PROJECT_ID</key>
	<string>ownotes-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ownotes-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674828250035:ios:8f893afdfda48c7b78f9c6</string>
</dict>
</plist>